<app-top></app-top>

<div *ngIf="runningGame; else gameOver">
    <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>

<ng-template #gameOver>
    <div *ngIf="finishType === 'defeated'; else gameOverVictory" class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: red">Game Over. You loose! :S </h3>
                <button class="btn btn-primary" (click)="restartGame()">Play Again</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #gameOverVictory>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: green ">Game Over. You win! \o/ </h3>
                <button class="btn btn-primary" (click)="restartGame()">Play Again</button>
            </div>
        </div>
    </div>
</ng-template>
    